/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	padding: 1rem 0 0 0;
	text-align: center;
	text-align: center;
    z-index: 999;
	position: relative;
	transition: 0.3s ease-in-out;
	&__inner{
		@include flex-jbetween;
	}
	&__list{
		@include flex-jbetween;
	}
	&__item{
		&:not(:first-child, :last-child) {
			margin: 0 10px;
		}
	}
}