/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background: $color3;
	transition: 0.3s ease-in-out;
}