/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.l-main {
	width: 100%;
	min-height: 600px;
	color: $color1;
	@include flex-center;
}
.l-container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	@include min(576px){
		max-width: 540px;
	}
	@include min(768px){
		max-width: 720px;
	}
	@include min(992px){
		max-width: 960px;
	}
	@include min(1200px){
		max-width: 1140px;
	}



}