// Breakpoint
$breakpoint1: 767px;

// Common Colors
$color1: #000;
$color2: #fff;
$color3: #ccc;

// Base Fonts
$base-font-color:   #000;
$base-font-size:    14px;
$base-font-weight:  400;
$base-line-height:  1.4;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
