header.c-header.l-container
  .c-header__inner 
      h1.c-header__logo
        a.logo-image(href=path+"/")
          img(src=path+"/assets/images/common/logo.png", alt="logo alt")
      .c-header__top
        ul.c-header__list
          li.c-header__item
            a(href="#") About
          li.c-header__item
            a(href=path+"/news/") News
          li.c-header__item
            a(href="#") Info
  nav.c-nav
    ul.c-nav__list 
      li.c-nav__item 
        a(href="#") About     
